<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home - Administrative Managment</title>
  </head>
  <body>
    <header class="text-center p-4">
      <h1 class="font-extrabold text-purple-800 text-4xl">
        Administrative Managment
      </h1>
    </header>
    <main class="flex justify-center mt-10 space-x-10">
      {% if profile %}
      <div
        class="text-center w-[28%] space-y-5 border-2 border-purple-800 rounded-md p-8"
      >
        <h2 class="font-bold text-2xl text-purple-800 uppercase">Profile</h2>
        <form
          method="POST"
          action="profile/update/{{profile.id}}"
          class="space-y-5"
        >
          {% csrf_token %}
          <div class="flex text-center items-center space-x-3">
            <label class="text-lg font-bold uppercase w-[90px]">Name</label>
            <input
              class="w-[250px] p-1 border-2 border-purple-800 rounded-md pl-4"
              name="name"
              value="{{profile.name}}"
              type="text"
            />
          </div>

          <div class="flex text-center items-center space-x-3">
            <label class="text-lg font-bold uppercase w-[90px]">Dni</label>
            <input
              class="w-[250px] p-1 border-2 border-purple-800 rounded-md pl-4"
              name="dni"
              value="{{profile.dni}}"
              type="text"
            />
          </div>

          <div class="flex text-center items-center space-x-3">
            <label class="text-lg font-bold uppercase w-[90px]">Address</label>
            <input
              class="w-[250px] p-1 border-2 border-purple-800 rounded-md pl-4"
              name="address"
              value="{{profile.address}}"
              type="text"
            />
          </div>

          <div class="flex text-center items-center space-x-3">
            <label class="text-lg font-bold uppercase w-[90px]">Phone</label>
            <input
              class="w-[250px] p-1 border-2 border-purple-800 rounded-md pl-4"
              name="phone"
              value="{{profile.phone}}"
              type="text"
            />
          </div>

          <div class="flex text-center items-center space-x-3">
            <label class="text-lg font-bold uppercase w-[90px]">Badge</label>
            <input
              class="w-[250px] p-1 border-2 border-purple-800 rounded-md pl-4"
              name="badge"
              value="{{profile.badge}}"
              type="text"
            />
          </div>

          <div class="flex text-center items-center space-x-3">
            <label class="text-lg font-bold uppercase w-[90px]">Agency</label>
            <input
              class="w-[250px] p-1 border-2 border-purple-800 rounded-md pl-4"
              name="agency"
              value="{{profile.agency.name}}"
              type="text"
            />
          </div>
          <div class="w-[150px] mx-auto">
            <input
              class="w-full py-2 bg-purple-800 font-bold text-white rounded-md cursor-pointer"
              value="Update Profile"
              type="submit"
            />
          </div>
        </form>
      </div>
      <div
        class="text-center w-[28%] space-y-5 border-2 border-purple-800 rounded-md p-8"
      >
        <h2 class="font-bold text-2xl text-purple-800 uppercase">Citations</h2>
        {% for citation in citations %}
        <div class="flex justify-center items-center space-x-4">
          <h2 class="font-bold uppercase">{{citation.violationDate}}</h2>
          <a
            class="p-2 bg-purple-800 text-white font-bold rounded-md cursor-pointer"
            href="citation/{{citation.id}}"
            >Show Citation</a
          >
        </div>
        {% endfor %}
      </div>

      {% endif %} {% if profiles %}
      <div class="text-center mt-10 space-y-10">
        <h1
          class="font-bold text-purple-800 text-2xl border-b-2 border-purple-800"
        >
          Profiles Agency
        </h1>
        <div class="grid grid-cols-3 gap-4">
          {% for profile in profiles %}
          <form
            method="POST"
            action="profile/update/{{profile.id}}"
            class="space-y-5"
          >
            {% csrf_token %}
            <div class="flex text-center items-center space-x-3">
              <label class="text-lg font-bold uppercase w-[90px]">Name</label>
              <input
                class="w-[250px] p-1 border-2 border-purple-800 rounded-md pl-4"
                name="name"
                value="{{profile.name}}"
                type="text"
              />
            </div>

            <div class="flex text-center items-center space-x-3">
              <label class="text-lg font-bold uppercase w-[90px]">Dni</label>
              <input
                class="w-[250px] p-1 border-2 border-purple-800 rounded-md pl-4"
                name="dni"
                value="{{profile.dni}}"
                type="text"
              />
            </div>

            <div class="flex text-center items-center space-x-3">
              <label class="text-lg font-bold uppercase w-[90px]"
                >Address</label
              >
              <input
                class="w-[250px] p-1 border-2 border-purple-800 rounded-md pl-4"
                name="address"
                value="{{profile.address}}"
                type="text"
              />
            </div>

            <div class="flex text-center items-center space-x-3">
              <label class="text-lg font-bold uppercase w-[90px]">Phone</label>
              <input
                class="w-[250px] p-1 border-2 border-purple-800 rounded-md pl-4"
                name="phone"
                value="{{profile.phone}}"
                type="text"
              />
            </div>

            <div class="flex text-center items-center space-x-3">
              <label class="text-lg font-bold uppercase w-[90px]">Badge</label>
              <input
                class="w-[250px] p-1 border-2 border-purple-800 rounded-md pl-4"
                name="badge"
                value="{{profile.badge}}"
                type="text"
              />
            </div>

            <div class="flex text-center items-center space-x-3">
              <label class="text-lg font-bold uppercase w-[90px]">Agency</label>
              <input
                class="w-[250px] p-1 border-2 border-purple-800 rounded-md pl-4"
                name="agency"
                value="{{profile.agency.name}}"
                type="text"
              />
            </div>
            <div class="w-[150px] mx-auto">
              <input
                class="w-full py-2 bg-purple-800 font-bold text-white rounded-md cursor-pointer"
                value="Update Profile"
                type="submit"
              />
            </div>
          </form>
          {% endfor %}
        </div>
        <div
          class="text-center space-y-5 border-2 border-purple-800 rounded-md p-8"
        >
          <h2 class="font-bold text-2xl text-purple-800 uppercase">
            Citations
          </h2>
          {% for citation in citations %}
          <div class="flex justify-center items-center space-x-4">
            <h2 class="font-bold uppercase">{{citation.violationDate}}</h2>
            <a
              class="p-2 bg-purple-800 text-white font-bold rounded-md cursor-pointer"
              href="citation/{{citation.id}}"
              >Show Citation</a
            >
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </main>
  </body>
</html>
